<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Me</h2>
        <div *ngIf="showThanks" id="thanksMsg" name="thanksMsg" class="container">
            <h4 class="thank-you">Message Recieved! Thank you</h4>
        </div>
        
        <form class="cf" #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm)">
            <div class="half left cf">
                <input name="name" type="text" id="input-name" placeholder="Name" ngModel>
                <input name="email"type="email" id="input-email" placeholder="Email address" ngModel>
                <input name="subject"type="text" id="input-subject" placeholder="Subject" ngModel>
            </div>
            <div class="half right cf">
                <textarea name="message" name="message" type="text" id="input-message" placeholder="Message" ngModel></textarea>
            </div>
            <input type="submit" value="Send Message" id="input-submit">
        </form>
    </div>
</div>