@import "src/fonts.scss";

// Default options
$defaultDuration: 0.3s;
$primaryColour: #ececec;
$secondaryColor: #666;
$headerColor: #cfcfcf;
$shadowColour: rgba(0, 0, 0, 0.6);


.skill_list {
  @include Lato;
  padding-top: 30px;
  text-align: left;
}

h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: -26px;
}

.ribbon {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;

  -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.75);

  z-index: 5;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #101010, #1f2022, #101010); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #101010,
    #1f2022,
    #101010
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
