<div class="row ribbon">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Skills</h2>
            <ul class="skill_list" style="float: left">
                <li>MySQL</li>
                <li>.NET</li>
                <li>ExpressJS</li>
                <li>JWT</li>
                <li>JSON</li>
            </ul>

            <ul class="skill_list" style="float: right;">
                <li>Software Design</li>
                <li>RESTful API</li>
                <li>Firebase</li>
                <li>AWS</li>
                <li>Digital Ocean</li>
            </ul>
            <!-- Canvas for Chart.js -->
            <canvas id="canvas" style="max-width: 500px; margin: 0 auto" max-width="10" height="auto"></canvas>


        </div>
    </div>
</div>