/* You can add global styles to this file, and also import other style files */
body {
    background-color: #4a4a4a;
    overflow-x: hidden;
}



.card, .card-header {
    background: #26282a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26282a 75%, #383737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26282a 75%, #383737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0;


    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.card {
    border: 0;
    background: #f0f0f0;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 900px;
    min-width: 900px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,1);
}

.card-block {
    width: 580px;
    margin-left: 30px;
}

.name {
    font-size: 36px;
    font-weight: lighter;
    line-height: 0.8;
    color: #f2f2f2;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: "neo-latina";
}

.icon {
    color: #519abe;
    font-size: 35px;
}


.right-header {
    font-family: "Moonglade";
    color: #555555;
    font-weight: 400;
}

.left-header {
    font-family: "Moonglade";
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    color: #f2f2f2;
    font-weight: 400;
}

.content-right{
    margin-top: 80px;
}

.content-left{
    color: #f2f2f2;
    margin-left: 10px;
}

.content-left p {
    font-family: "Lato";
}

.content-left a {
    font-family: "Lato";
    text-decoration: underline;
    color: #f2f2f2
}

.title {
    font-weight: bold;
    color: #626262fa;
    font-family: "Lato";
    font-size: 17.2px;
    margin-top: 10px;
    margin-left: 30px;
}

.location {
    
}

.right-line {
    color: #519abebe;
    margin-top: 0px;
    border: none;
    height: 2.5px;
    /* Set the hr color */
    background-color:#519abe; /* Modern Browsers */
}

.left-line {
    width: 82%;
    color: #519abebe;
    size: 40px;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    height: 2.5px;
    /* Set the hr color */
    background-color:#519abe; /* Modern Browsers */
}



.current-position {
    color: #30a6ea;
    margin: 0 auto;
    font-size: 22.8px;
    margin-top: 5px;
    text-align: center;
    font-family: "neo-latina";
}

.about-me {
    font-family: 'Lato';
    color: #555555;
}


@font-face {
    font-family: "neo-latina";
    src: url(assets/fonts/neo-latina.ttf) format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato.ttf) format('truetype');
}

@font-face {
    font-family: "Moonglade";
    src: url(assets/fonts/Moonglade.ttf) format('truetype');
}

