@import "src/fonts.scss";

// Default options
$defaultDuration: 0.3s;
$primaryColour: #ececec;
$secondaryColor: #666;
$headerColor: #cfcfcf;
$shadowColour: rgba(0, 0, 0, 0.6);

.page-section {
  //background: white;
  color: $headerColor;

  -webkit-box-shadow: 3px -4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -4px 14px 0px rgba(0, 0, 0, 0.75);

  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1f2022, #101010); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #1f2022,
    #101010
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px 0;
  z-index: 3;
}

.icon-links {
  color: rgb(44, 108, 140);
  font-size: 55px;
  padding-left: 20px;
  cursor: crosshair;

  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

  &:hover {
    color: rgb(73, 173, 223);
  }
}
